@import url('https://fonts.googleapis.com/css2?family=Inter&family=Sora&display=swap');
/* font-family: 'Inter', sans-serif; */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

html.sr .load-hidden {
    visibility: hidden;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #7838FF #0d0d0d;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #0D0D0D;
}

*::-webkit-scrollbar-thumb {
    background-color: #7838FF;
    border-radius: 20px;
    border: 4px solid #0D0D0D;
}

body {
    font-family: 'Sora', sans-serif;
    color: var(--second-white);
    background-color: var(--black);
}

::selection {
    color: var(--purple);
    background-color: #45B1DF;
}

/* variaveis */
:root {
    --purple: #925DD4;
    --blue: #45B1DF;
    --black-light: #0F0F0F;
    --black-lightTwo: #1E1E1E;
    --black: #080808;
    --second-white: #D9D9D9;
}

a {
    text-decoration: none;
    color: #fff;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    width: 80%;
    max-width: 900px;
    background-color: rgb(8, 8, 8, 0.35);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 2px solid var(--black-lightTwo);
    border-radius: 16px;
    position: fixed;
    left: 50%;
    top: 45px;
    transform: translate(-50%);
    z-index: 1000;
}

#text {
    display: flex;
    align-items: center;
    gap: 15px;
}

#text p {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.logo {
    color: var(--purple);
    line-height: 10px;
    text-align: right;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.menu-items {
    visibility: hidden;
    position: absolute;
    left: -2500px;
    top: -50px;
    color: var(--second-white);
    background-color: var(--black-light);
    border: 2px solid var(--black-lightTwo);
    border-radius: 16px;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: 35px;
    font-weight: bold;
    padding: 130px 150px 10px 150px;
    gap: 30px;
    list-style: none;
    transition: all 1s ease-in-out;
}

.menu-items-active {
    visibility: visible;
    left: 50%;
    transform: translate(-50%);
}

.menu-items li a {
    transition: .4s;
}
.menu-items li a:hover {
    color: var(--purple);
    letter-spacing: .8px;
}

#menu {
    display: flex;
    padding: .3rem .5rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
}

#hamburguer {
    border-top: 2px solid;
    width: 20px;
    color: var(--second-white);
    z-index: 9999;
}

#hamburguer::after,
#hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
}

#hamburguer::after {
    width: 15px;
}

#menu.active #hamburguer {
    border-top-color: transparent;
}

#menu.active #hamburguer::before {
    transform: rotate(135deg);
}

#menu.active #hamburguer::after {
    transform: rotate(-135deg);
    width: 20px;
    top: -7px;
}


.cta {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 750px;
    margin: 0 auto;
    padding: 15px 20px;
    margin-top: 150px;
}

.cta h1 {
    color: var(--second-white);
    font-size: 50px;
    line-height: 65px;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 1rem;
    text-align: center;

}

.cta h1 span {
    background: linear-gradient(0deg, #925DD4, #45B1DF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: texto 1.7s infinite ease-in-out;
    -webkit-animation: texto 1.7s infinite ease;
    text-align: center;

}

.cta p {
    font-weight: lighter;
    font-size: 1.2rem;
    line-height: 35px;
    color: var(--second-white);
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 90%;
    text-align: center;
}

.buttonsCta {
    display: flex;
    gap: 15px;
    align-self: center;
}

.btn1 {
    background: var(--purple);
    padding: 15px 50px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    transition: .4s;
    box-shadow: 0px 0px 200px rgba(146, 93, 212, 0.5);
}

.btn2 {
    background: transparent;
    padding: 15px 50px;
    border: 2px solid var(--black-lightTwo);
    border-radius: 8px;
    font-weight: 400;
    font-size: 20px;
    transition: .4s;
    text-align: center;
    box-shadow: 0px 0px 200px rgba(146, 93, 212, 0.5);
}

.btn1:hover {
    filter: saturate(170%);
}

.btn2:hover {
    background-color: var(--black-lightTwo);
}


.sobre {
    background-color: var(--black-light);
    border: 2px solid var(--black-lightTwo);
    border-radius: 24px;
    width: 1200px;
    margin: 0 auto;
    margin-block: 100px;
    padding: 50px 35px;
}

.items {
    display: flex;
    gap: 50px;
}

.items img {
    width: 85%;
    max-width: 400px;
    align-self: center;
    border-radius: 50%;
    border: 3px solid var(--purple);
    transition: .4s;
}

.items img:hover {
    scale: 1.02;
    border: none;
}

.textos h2 {
    background: linear-gradient(90deg, #925DD4 3.66%, #45B1DF 28.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    margin-top: 20px;
}

.textos .descricao-sobre {
    margin-bottom: 50px;
}

.textos p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 50px;
}

.textos p span {
    color: var(--purple);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons i {
    color: var(--purple);
    border: 1px solid var(--black-lightTwo);
    border-radius: 4px;
    padding: 12px;
    transition: all .4s;
}

.fa-4x {
    font-size: 3.5em;
}

.social-icons i:hover {
    background-color: var(--black-lightTwo);
    color: var(--second-white);
}


.customtitle {
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.1rem;
    color: #fff;
    margin-block: 60px;
    text-align: center;
}

.servicosBox {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.servicosBox i {
    background: linear-gradient(90deg, #925DD4 0%, #45B1DF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.servicosBox .caixa {
    border: 2px solid var(--black-lightTwo);
    border-radius: 4px;
    padding: 40px 30px;
    width: 100%;
    transition: all .4s;
}

.servicosBox .caixa:hover {
    border: 2px solid var(--purple);
}

.servicosBox h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    font-family: 'Inter', sans-serif;
}

.servicosBox p {
    color: #CECECE;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
}


.projetosBox {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 1250px;
    gap: 20px;
}

.projetosBox img {
    width: 90%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid var(--black-lightTwo);
    transition: all .4s;
}

.projetosBox img:hover {
    border: 2px solid var(--purple);
}

#projetos a {
    display: block;
    margin: 0 auto;
    width: 250px;
    text-align: center;
    color: var(--purple);
}


#conhecimentos .techsBox {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline: 10px;
}

.techsBox i {
    color: var(--purple);
    border: 1px solid var(--black-lightTwo);
    width: 170px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
}

.techsBox i:hover {
    border: 1px solid var(--purple);
}

.fa-7x {
    font-size: 6em;
}

.descricao {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}

.descricao .instrucao {
    color: var(--purple);
    margin-bottom: 25px;
}

.descricao h3 {
    margin-bottom: 15px;
}


#contato h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 30px;
    text-align: center;
    background: linear-gradient(90deg, #925DD4 29.26%, #45B1DF 84.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: 'Inter', sans-serif;
    margin-top: 100px;
    margin-bottom: 30px;
    animation-name: text-contato;
    animation: text-contato 2s infinite ease;
    -webkit-animation: text-contato 2s infinite ease;
}

#contato .descricao-contato {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 500px;
    margin-bottom: 60px;
}

#contato p a {
    color: var(--purple);
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.contatolinks {
    display: flex;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.linksbtn {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0 auto;
    border: 2px solid var(--black-lightTwo);
    border-radius: 4px;
    padding: 10px 20px;
    transition: all .4s;
}

.linksbtn:hover {
    background-color: var(--black-lightTwo);
}

.linksbtn p {
    font-size: 18px;
    font-weight: 400;
}

.linksbtn i {
    color: var(--purple);
}


.linksbtn .i-white {
    color: var(--second-white);
}


footer div {
    background: linear-gradient(90deg, #925DD4 11.46%, #45B1DF 100%);
    height: 10px;
    color: var(--black-light);
}

footer {
    background-color: var(--black-light);
}

footer p {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    padding: 8px 0px;
    letter-spacing: -0.05em;
}



@media (max-width: 340px) {
    .techsBox i {
        width: 120px !important;
        height: 120px !important;
    }
}

@media (max-width: 600px) {

    .menu-items {
        font-size: 23px;
        padding: 140px 40px 40px 40px;
    }

    .cta {
        width: 100%;
        margin-top: 125px;
    }

    .cta h1 {
        font-size: 2.4rem;
        line-height: 55px;
    }

    .cta p {
        font-size: 15px;
        line-height: 25px;
    }

    .buttonsCta {
        flex-direction: column;
        align-self: center;
        margin-top: 10px;
    }

    .btn2 {
        border: none;
    }

    .items {
        flex-direction: column;
        gap: 30px;
    }

    .items img {
        width: 85%;
        max-width: 350px;
    }

    .sobre {
        width: 90%;
        padding: 60px 20px;
        border-radius: 4px;
    }

    .textos .descricao-sobre {
        font-size: 15px;
        line-height: 25px;
    }

    .textos p {
        font-size: 16px;
    }

    .social-icons {
        gap: 6px;
        padding: 0px;
        justify-content: center;
    }

    .social-icons i {
        padding: 8px;
    }

    .fa-4x {
        font-size: 2.7em;
    }

    .servicosBox {
        flex-direction: column;
        width: 90%;
    }

    .projetosBox {
        flex-direction: column;
        width: 90%;
        gap: 20px;
    }

    .techsBox i {
        width: 140px;
        height: 140px;
    }

    .fa-7x {
        font-size: 5em;
    }

    .contatolinks {
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }

    #contato h2 {
        font-size: 30px;
        padding-inline: 10px;
    }

    #contato .descricao-contato {
        width: 100%;
        text-align: left;
        padding: 0px 40px;
        margin-top: 50px;
    }

    .customtitle {
        font-size: 27px;
    }
}

@media (min-width: 601px) and (max-width: 849px) {
    .cta {
        width: 100%;
    }

    .items {
        flex-direction: column;
        gap: 30px;
    }

    .items img {
        align-self: center;
        width: 85%;
        max-width: 350px;
    }

    .sobre {
        width: 90%;
        border-radius: 4px;
    }

    .servicosBox {
        flex-direction: column;
        width: 90%;
    }

    .projetosBox {
        flex-direction: column;
        width: 90%;
    }

    .contatolinks {
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }
}

@media (min-width: 850px) and (max-width: 1300px) {
    img {
        width: 90%;
    }

    .sobre {
        width: 90%;
        padding: 40px 30px;
    }

    .servicosBox {
        width: 90%;
    }

    .servicosBox p {
        font-size: 1rem;
    }

    .projetosBox {
        width: 90%;
        gap: 15px;
    }

    .items {
        gap: 30px;
    }

    .items img {
        align-self: center;
        width: 85%;
        max-width: 350px;
    }

    .textos p {
        font-size: 15px;
        margin-bottom: 30px;
    }

    .textos h2 {
        margin-top: 0px;
    }

    .textos .descricao-sobre {
        margin-bottom: 40px;
    }

    .social-icons {
        gap: 10px;
    }

    .fa-4x {
        font-size: 2.5em;
    }
}

@media (min-width: 1050px) and (max-width: 1299px) {
    .cta {
        right: 100px;
    }
}

/* event section project */
#titleP,
#titleP2,
#titleP3 {
    display: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-block: 30px;
}

#titleP a,
#titleP2 a,
#titleP3 a {
    width: 80%;
    background-color: var(--purple);
    color: var(--second-white);
    padding: 15px 0px;
    border: 2px solid var(--black-lightTwo);
    border-radius: 4px;
    transition: .2s;
}

#titleP a:hover,
#titleP2 a:hover,
#titleP3 a:hover {
    filter: saturate(180%);
}

#titleP .btnRepo,
#titleP2 .btnRepo,
#titleP3 .btnRepo {
    background-color: transparent;
    color: var(--second-white);
    border: 2px solid var(--purple);
}

#titleP .btnRepo:hover,
#titleP2 .btnRepo:hover,
#titleP3 .btnRepo:hover {
    background-color: var(--purple);
}


/*animations*/

@keyframes texto {
    0% {
        background: linear-gradient(0deg, #925DD4, #45B1DF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    10% {
        background: linear-gradient(36deg, #925DD4, #45B1DF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    20% {
        background: linear-gradient(72deg, #925DD4, #45B1DF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    30% {
        background: linear-gradient(108deg, #925DD4, #45B1DF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    40% {
        background: linear-gradient(144deg, #925DD4, #45B1DF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    50% {
        background: linear-gradient(180deg, #925DD4, #45B1DF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    60% {
        background: linear-gradient(216deg, #925DD4, #45B1DF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    70% {
        background: linear-gradient(252deg, #925DD4, #45B1DF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    80% {
        background: linear-gradient(288deg, #925DD4, #45B1DF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    90% {
        background: linear-gradient(324deg, #925DD4, #45B1DF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    100% {
        background: linear-gradient(360deg, #45B1DF, #925DD4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

@keyframes text-contato {
    0% {
        background: linear-gradient(to left, #925DD4 29.26%, #45B1DF 84.62%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    100% {
        background: linear-gradient(to right, #925DD4 29.26%, #45B1DF 84.62%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}